.ratBoard td {
    width: 40px;
    height: 40px;
    text-align: center;
    border: 1px solid black;
}
.sudokuBoard {
    box-shadow: 2px 2px 10px black;
}
.slider {
    width: 30vw;
    margin: 20px 0 10px 0;
}

.buttons {
    width: 30vw;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.ratBoard {
    margin: 20px;
}